<div class="status-bar-container">
  <div *ngIf="progress.parsers.length == 0" class="no-progress-message">
    No parsing process started
  </div>
  <div *ngIf="progress.parsers.length > 0">
    <div
      *ngFor="let progress of progress.parsers; let barIndex = index"
      class="status-bar"
    >
      <div class="status-bar-header">
        <div *ngIf="progress.id" class="status-bar-title">
          {{ progress.title }}
        </div>
        <div class="steps-wrapper">
          <div class="steps">
            <div
              *ngFor="let page of progress.pages; let stepIndex = index"
              class="step"
              [ngClass]="{
                'step-pending': page.status === -1,
                'step-done': page.status === 1,
                'step-error': page.status === 0,
                'last-step': stepIndex === progress.pages.length - 1
              }"
            >
              <div class="step-indicator">
                {{ stepIndex + 1 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="progress-res-block">
      <div>Parsed vacancies: {{ progress.total }}</div>
      <div>New vacancies: {{ progress.new }}</div>
      <div>Outdated vacancies: {{ progress.outdated }}</div>
    </div>
  </div>
  <button
    (click)="startParsing()"
  >
    Start parsing
  </button>
</div>
