<div class="container px-6 mx-auto grid" *ngIf="vacancies.length > 0; else noVacancies">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Dashboard
    </h2>
    <!-- Material Table -->
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="w-full whitespace-no-wrap"
          (matSortChange)="onSortChange($event)"
        >
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="px-4 py-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              Title
            </th>
            <td mat-cell *matCellDef="let vacancy" class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div>
                  <p class="font-semibold">
                    <a [href]="vacancy.url">{{ vacancy.title }}</a>
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <!-- Min Salary Column -->
          <ng-container matColumnDef="minSalary">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="px-4 py-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              Min Salary
            </th>
            <td mat-cell *matCellDef="let vacancy" class="px-4 py-3 text-sm">
              {{ vacancy.minSalary }}
            </td>
          </ng-container>
  
          <!-- Max Salary Column -->
          <ng-container matColumnDef="maxSalary">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="px-4 py-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              Max Salary
            </th>
            <td mat-cell *matCellDef="let vacancy" class="px-4 py-3 text-sm">
              {{ vacancy.maxSalary }}
            </td>
          </ng-container>
  
          <!-- Company Column -->
          <ng-container matColumnDef="company">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="px-4 py-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              Company
            </th>
            <td mat-cell *matCellDef="let vacancy" class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div
                  class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                >
                  <img
                    class="object-cover w-full h-full rounded-full"
                    [src]="vacancy.company.imageUrl"
                    [alt]="vacancy.company.title"
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p class="font-semibold">
                    <a
                      [href]="vacancy.company.company_url"
                      >{{ vacancy.company.title }}</a
                    >
                  </p>
                </div>
              </div>
            </td>
          </ng-container>
  
          <!-- Parsed At Column -->
          <ng-container matColumnDef="parsedAt">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="px-4 py-3 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
            >
              Parsed At
            </th>
            <td mat-cell *matCellDef="let vacancy" class="px-4 py-3 text-sm">
              {{ vacancy.parsedAt | date: 'yyyy-MM-dd HH:mm' }}
            </td>
          </ng-container>
  
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns;"
            class="text-gray-700 dark:text-gray-400 bg-white dark:bg-gray-800"
          ></tr>
        </table>
      </div>
  
      <!-- Filters and Paginator Section -->
      <div class="flex justify-between items-center px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <mat-select (selectionChange)="onFilterChange($event)">
                @for (filter of filters; track filter) {
                <mat-option [value]="filter.filterId" [title]="filter.filter">{{filter.filter | truncate:20}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          [pageSize]="pageSize"
          [length]="totalVacancies"
          [pageIndex]="currentPage"
          (page)="onPageChange($event)"
          showFirstLastButtons
          class="bg-transparent"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  
  <ng-template #noVacancies>
    <div class="container px-6 mx-auto grid">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        There are currently no vacancies.
      </h2>
    </div>
  </ng-template>
  